mixin playBtn()
    button(class!=attributes.class onclick!=attributes.onclick disabled!=attributes.disabled).um-playBtn
        span Смотреть видео
        .um-playBtn__icon 
            +svg('play')
