mixin sliderPagination()
    .um-sliderPagination
        button.um-sliderPagination__arrow.is-hidden-mob.js-prods-slider__prev
            +svg('arrow')
        .um-sliderPagination__bullets.js-prods-slider__pagination
            div.isActive
            div
            div
        button.um-sliderPagination__arrow.um-sliderPagination__arrow--next.is-hidden-mob.js-prods-slider__next
            +svg('arrow')

