mixin cookie()
    .um-cookie.isVisible.js-cookie
        .um-cookie__inner
            .um-cookie__text Сайт использует файлы cookie для улучшения пользовательского опыта.&nbsp;
                a(href="#") Подробнее
            button.um-cookie__close.js-cookie__close
                +svg("close-l")
