mixin header
    header.um-header.js-header
        .um-header__container
            +link.um-header__logo(href="#")
                img(src="../img/logo.svg", alt="логотип")
            .um-header__





            //- .um-header__top
            //-     nav.um-header__top-nav
            //-         +link('grey')(href="/portfolio/") Пункт
            //-         +link('grey')(href="/documents/") Пункт
            //-         +link('grey')(href="/contacts/") Пункт
            //-     .um-header__top-nav 
            //-         +link('grey')(href="mailto:gmail@gmail.ru") gmail@gmail.ru
            //-         +link('grey')(href="tel:+77777777777") +7 (7777) 77-77-77
            //-     button.um-header__burger.js-openMobileMenu
            //-         div 
            //-         div
            //-         div 
