.um-seoText {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 80fr 46fr;
  gap: 138px;

  @media (max-width: 1023px) {
      gap: 50px;
  }
  @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 15px;
  }
}
