//- Кнопки
include ./buttons/btn/btn
include ./buttons/roundBtn/roundBtn
include ./buttons/playBtn/playBtn

//- Ссылки
include ./links/link/link
include ./links/arrowLink/arrowLink
include ./links/socialLink/socialLink

//- Поля
include ./fields/input/input
include ./fields/search/search
include ./fields/textarea/textarea
include ./fields/file/file

//- Типографика
include ./typo/title/title
include ./typo/subtitle/subtitle
include ./typo/additionTitle/additionTitle
include ./typo/text/text

//- Прочее
include ./other/tag/tag
include ./other/citySelect/citySelect
include ./other/video/video
include ./other/content/content
include ./other/block/block
include ./other/socials/socials
include ./other/pagination/pagination
include ./other/breadcrumbs/breadcrumbs
include ./other/preloader/preloader
include ./other/sliderPagination/sliderPagination
include ./other/popup/popup
include ./other/notify/notify
include ./other/cookie/cookie
include ./other/btnUp/btnUp
include ./other/dropdown/dropdown

//- Организмы
include ./organisms/header/header
include ./organisms/footer/footer
include ./organisms/cardsSlider/cardsSlider
include ./organisms/fscreen/fscreen
include ./organisms/partnersTrain/partnersTrain
include ./organisms/videoPopup/videoPopup
include ./organisms/select/select
