.um-video-popup {
  position: fixed;
  width: calc(100% - 30px);
  max-height: 100vh;
  bottom: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,300%);
  z-index: 250;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
  //overflow-y: auto;
  scrollbar-width: 0px;
  max-width: 1320px;
  max-height: 735px;

  display: flex;
  gap: 20px;


  @media (max-width: 1500px) {
      padding: 0 100px;
  }
  @media (max-width: 1023px) {
      padding: 0 40px;
  }
  @media (max-width: 767px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0;
      gap: 15px;
  }

  &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      opacity: 0;
  }

  &.isVisible {
      opacity: 1;
      transform: translate(-50%,50%);
      pointer-events: all;
  }
  //&__content {
  //    position: relative;
  //    height: 100%;
  //    width: 100%;
  //
  //}

  &__video {
      height: 100%;
      width: 100%;
      aspect-ratio: 88/49;

      @media (max-width: 767px) {
          //aspect-ratio: auto;
      }

      .um-video {
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
  }
  &__close {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-color);
      z-index: 255;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      @media (max-width: 1023px) {
          width: 50px;
          height: 50px;
      }

      & svg {
          width: 30px;
          height: 30px;
          object-fit: contain;
          fill: var(--white-color);

          @media (max-width: 1023px) {
              width: 25px;
              height: 25px;
          }
      }
  }
}
